<div class="wrapper">
    <header class="l-box">
      <h1>Drones</h1>
      <select ng-model="dronesIndex.sort">
  <option value="+price">Price ascending</option>
  <option value="-price">Price descending</option>
</select>
      <input type="text" class="search" ng-model="dronesIndex.q" placeholder="Search...">
    </header>

    <div class="pure-g filters">
      <div class="pure-u-1 pure-u-sm-1-2">
        <div class="l-box">
          <input type="checkbox" id="weight" ng-model="dronesIndex.useWeight">
          <label for="weight">Weight</label>
          <input type="range" ng-model="dronesIndex.weight" min="1" max="500" ng-disabled="!dronesIndex.useWeight">
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-2">
        <div class="l-box">
          <input type="checkbox" id="speed" ng-model="dronesIndex.useSpeed">
          <label for="speed">Speed</label>
          <input type="range" ng-model="dronesIndex.speed" min="1" max="500" ng-disabled="!dronesIndex.useSpeed">
        </div>
      </div>
    </div>


    <main class="dronesIndex">
      <div class="content pure-g">
        <div ng-repeat="drone in dronesIndex.filtered" class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="l-box">
            <h2>{{ drone.name | uppercase }}</h2>
            <p>Price <strong>{{ drone.price | currency: '£' }}</strong></p>
            <p>Weight <strong>{{ drone.weight }} kg</strong></p>
            <p>Speed <strong>{{ drone.speed }} km/h</strong></p>
            <button ui-sref="droneShow({id: drone.id})">View</button>
          </div>
        </div>
      </div>
    </main>
  </div>
