<div class="row">
  <div class="twelve columns">
    <h1><span>Drones</span></h1>

    <select ng-model="dronesIndex.sort">
      <option value="+price">Price ascending</option>
      <option value="-price">Price descending</option>
    </select>
    <input type="text" class="search" ng-model="dronesIndex.q" placeholder="Search...">


    <input type="checkbox" id="weight" ng-model="dronesIndex.useWeight">
    <label for="weight">Weight</label>
    <input type="range" ng-model="dronesIndex.weight" min="1" max="6" ng-disabled="!dronesIndex.useWeight">


    <input type="checkbox" id="speed" ng-model="dronesIndex.useSpeed">
    <label for="speed">Speed</label>
    <input type="range" ng-model="dronesIndex.speed" min="30" max="115" ng-disabled="!dronesIndex.useSpeed">
  </div>
</div>

<div class="row">
  <div ng-repeat="drone in dronesIndex.filtered" class="six columns">
    <img ng-src="{{ drone.image }}" alt="{{ drone.name }}" class="pure-img">
    <h2>{{ drone.name | uppercase }}</h2>
    <p>Price <strong>{{ drone.price | currency: '£' }}</strong></p>
    <p>Weight <strong>{{ drone.weight }} kg</strong></p>
    <p>Speed <strong>{{ drone.speed }} km/h</strong></p>
    <button ui-sref="droneShow({id: drone.id})">View</button>
  </div>
</div>
