<section class="container">
<h1>Edit<span>Race</span></h1>
<div class="row">
  <div class="col-md-6">
    <form ng-submit="racesEdit.update()">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="racesEdit.race.name">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" ng-model="racesEdit.race.date">
      <label for="location">Location</label>
      <input type="text" id="location" name="location" ng-model="racesEdit.race.location">
      <label>Attendees</label>
      <label ng-repeat="user in racesEdit.users">
        <input type="checkbox" name="attendees" checklist-model="racesEdit.race.attendee_ids"
      checklist-value="user.id">{{ user.name }}
      </label>
      <button>Update</button>
    </form>
  </div>
</div>
</section>
