<div>
<span>J</span><span>u</span><span>s</span><span>t</span>

<span>i</span><span>f</span><span></span>

<span>Y</span><span>o</span><span>u</span><span>a</span><span>r</span>

<span>e</span><span>a</span><span>r</span><span>e</span><span>a</span><span>l</span>
<br>
<span>N</span><span>E</span><span>R</span>

<span>D</span><span>,</span><span>o</span>

<span>t</span><span>h</span><span>e</span>

<span>r</span><span>w</span><span>i</span><span>s</span><span>e</span>

<span>m</span><span>o</span>

<span>v</span><span>e</span><span>o</span><span>n</span><span>!</span><span>!</span>
</div>
