@import "partials/normalize.scss";
@import "partials/skeleton.scss";

//skeleton overrides

.columns {
  &:nth-child(odd) {
    margin-left: 0;
    clear: left;
  }
}

//nav styles

header {
  height: 80px;
  margin-bottom: 20px;
  nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 99999;

    ul {
      padding: 0 20px;
      li {
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 80px;
        margin-left: 10px;
        h1 {
          margin: 0;
          line-height: 80px;
        }
        float: right;
        &:first-child {
          float: left;
          margin-left: 0;
        }
      }
    }
  }
}

main {
  text-align: center;
}

* {
  font-family: inherit;
}
img {
  max-width: 100%;
  border-radius: 10px 10px;

}
h3{
  font-family: "Courier New", Courier, monospace;
float: left;
}
p{
  color: limegreen;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
button {
  -webkit-transition: width 0.4s ease-in-out;
  background-color: white;
  transition: width 0.4s ease-in-out;
  width: 100%;
  border: 2px solid  limegreen;
  border-radius: 50px 50px;
}
a{
  -webkit-transition: width 0.4s ease-in-out;
  background-color: white;
  color: limegreen;
  transition: width 0.4s ease-in-out;
  width: 100%;
  border: 2px solid limegreen;
  border-radius: 50px 50px;
}
h5 {
  width: 100%;
  text-transform: uppercase;
}
footer {
  padding: 0;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  right:0;
  bottom: 0;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  margin: 0;
  color: limegreen;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid;
}

textarea#content {
  margin: 10px 0;
  border: 1px solid lime;
  overflow: hidden;
}
input#name {
  margin: 10px 0;
  border: 1px solid lime;
  overflow: hidden;
}
input#color {
  margin: 10px 0;
  border: 1px solid lime;
  overflow: hidden;
}
textarea {
  margin: 10px 0;
  border: 1px solid lime;
  overflow: hidden;
}
input#email {
  margin: 10px 0;
  border: 1px solid lime;
  overflow: hidden;
}
input#password {
  margin: 10px 0;
  border: 1px solid lime;
  overflow: hidden;
}
input#speed {

  border: 1px solid lime;
  overflow: hidden;
}
input#weight {

  border: 1px solid lime;
  overflow: hidden;
}
button.button {
  background-color: rgba(30, 144, 255, 0.6);
  width: 100px;
}
textarea#content {
  margin: 10px 0;
  border: 1px solid lime;
}
input#password {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(30, 144, 255, 0.6);
}
input#username {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid  rgba(30, 144, 255, 0.6);
}
input#passwordConfirmation {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid  rgba(30, 144, 255, 0.6);
}
input#email {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid  rgba(30, 144, 255, 0.6);
}
.matrix {
  font-size: 40px;
}


html{
  box-shadow: inset 0 0 30px 0 #000;

}
body{
  background: #111;
  color: limegreen;
  font-size: 1.8em;
  font-family:  "Courier New", Courier, monospace;
}

span{
  display: inline-block;
  opacity: 0;
  margin: 0;
}
@for $i from 1 through 41{
  span:nth-child(#{$i}){
    animation: flyin#{$i} 4s 1 forwards;
  }
  @keyframes flyin#{$i}{
    0%{
      transform: translate(random(700) - 350 + px, random(700) - 350 + px);
    }
    25%{
     opacity: .1;
    }
    100%{
      transform: translate(0,0);
      opacity: 1;
    }
  }
}
